extends layout

block header
    link(rel='stylesheet', href='/css/color-brewer.css')
    script(src='/js/highlight.pack.js')
    script.
        hljs.initHighlightingOnLoad();

    // Firebase
    script(src='https://cdn.firebase.com/js/client/2.3.2/firebase.js')
    // ACE and its JavaScript mode and theme files
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/mode-javascript.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/theme-textmate.js')
    // Firepad
    link(rel='stylesheet' href='https://cdn.firebase.com/libs/firepad/1.3.0/firepad.css')
    script(src='https://cdn.firebase.com/libs/firepad/1.3.0/firepad.min.js')


block content
    #firepad-container
    #userlist

    style.
        #firepad-container {
          width: 100%;
          height: 600px;
        }
        #userlist {
            width: 100%;
            height: 100px;
        }

    script.
        var init = function() {
            var firepadRef = new Firebase('https://captionator.firebaseio.com/');
            firepadRef = firepadRef.child('#{playName}');
            firepadRef.authWithCustomToken("#{firebaseToken}", function(err, authData){
                if(err){
                    console.log("Login Failed!", err);
                } else {
                    console.log("Login Succeeded!", authData);
                }
            });
            console.log('Firebase data: ', firepadRef.toString());
            // Create ACE
            var editor = ace.edit("firepad-container");
            editor.$blockScrolling = Infinity; // stop warnings
            editor.setTheme("ace/theme/twilight");
            var session = editor.getSession();
            session.setUseWrapMode(true);
            session.setUseWorker(true);
            session.setMode("ace/mode/yaml");
            // Create Firepad.
            var firepad = Firepad.fromACE(firepadRef, editor, {
                userId: #{locals.user.id}
            });

        }
        window.onload = init;
