extends layout

block header
    link(rel='stylesheet', href='/css/style.css')

block content
    ul
        each play in plays
            if locals.user
              li #[a(href="/play/#{play}/0")= play] [#[a(href="/source/#{play}") source]]
            else
              li #[a(href="/watch/#{play}/0")= play]
