extends layout

block header
    link(rel='stylesheet', href='/css/style.css')

block content
    ul
        each play in plays
            li
                #[a(href="/play/#{play}")= play] [#[a(href="/source/#{play}") source]]
