extends layout

block header
    link(rel='stylesheet', href='/css/#{playName}.css')
    script(src='/js/mousetrap.min.js')
    script(src='/js/play.js')

block content
    h1= title
    each slide, slideIndex in corpus
        div.slide(class=(slideIndex == currIndex ? "active" : undefined))
            each dialogue, character in slide
                p #{character} said #{dialogue}
