extends layout

block header
    link(rel='stylesheet', href='/css/color-brewer.css')
    script(src='/js/highlight.pack.js')
    script.
        hljs.initHighlightingOnLoad();

block content
    a(href='/download/'+playName) Download Source
    pre
        code.yaml= corpus
