body {
    overflow: hidden;
    counter-reset: slide;
}

/* do not need body to be hidden on control */
body.blankScreen {
    opacity: 0.5;
}

/* make sure people know it's hidden */
body.blankScreen::after {
    content: "hidden";
    color: red;
}

#connectionStatus {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 10px;
    background-color: #ccc;
    border-radius: 15px 15px 0 0;
    padding: 10px;
    font-size: 50%;
    transition: all 1s ease-in-out;
}

    body.online #connectionStatus {
        background-color: #0f0;
        color: #000;
    }

    body.error #connectionStatus {
        background-color: #f00;
        color: #fff;
    }

    body.online #connectionStatus:before {
        content: "Online";
    }

    body.error #connectionStatus:before {
        content: "Error: " attr(data-err-msg);
    }

#viewerStatus {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 10px;
    background-color: #ccc;
    border-radius: 15px 15px 0 0;
    padding: 10px;
    font-size: 50%;
}

    #viewerStatus:before {
        content: attr(data-unauthUsers) " viewers"
    }

/* this is for absolutely positioning slide numbers */
.slide {
   position: relative;
   width: 90%;
}

.slide .character {
  width: 100%;
}

.slide .dialogue {
    clear: both;
    width: 100%;
}

/* Generally style slides for separating which is 1st, 2nd, 3rd */
.slide.active {
    border: 1px solid white;
    margin-bottom: 25px;
    transition: background-color 0.5s ease-in-out;
}

.slide.active+.slide {
    display: block;
    background-color: #555;
    font-size: 75%;
    opacity: 0.75;
}

.slide.active+.slide+.slide {
    display: block;
    background-color: #999;
    font-size: 50%;
    opacity: 0.5;
}

/* Label the slides */
.slide:before {
    counter-increment: slide;
    content: counter(slide);
    position: absolute;
    font-size: 50%;
}
