html {
    height: 100%;
}

body {
    font: 14px Tahoma, Verdana, Segoe, sans-serif;
    font-size: 200%;
    color: yellow;
    background-color: black;

    height: 100%;
    opacity: 1.0;
    transition: opacity 0.5s ease-in-out;
    padding-top: 20px;
}

/* hide the body when we want to */
body.hide {
    opacity: 0.0;
}

#connectionStatus {
    display: none;
}

/* to show and hide the code blocks */
.sourceCode {
    display: none;
}

body.showCode .sourceCode {
    display: block;
}

/* This section controls the display of the grid */
.gridElement {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.0;
    transition: opacity 0.5s ease-in-out;
}

/* specify the delays so we can reverse the order appropriately */
#gridMinor, .grid #gridMajor {
    transition-delay: 0.4s;
}

.grid #gridMinor, #gridMajor {
    transition-delay: 0s;
}

/* build the actual display of each grid, minor and major */
#gridMinor {
    background-size: 10px 10px;
    background-image:repeating-linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 1px, transparent 10px),repeating-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 1px, transparent 10px);
}

#gridMajor {
    background-size: 50px 50px;
    background-image:repeating-linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 1px, transparent 1px, transparent 50px),repeating-linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 1px, transparent 1px, transparent 50px);
}

/* show the grid elements when we want to */
.grid .gridElement  {
    opacity: 1.0;
}

/* clearfix div */
.clear {
    clear: both;
}

.slide {
    background-color: rgba(255,255,255,0.0); /* background color of all slides */
    width: 850px; /* maximum width of all slides */

    margin: 0;
    display: none;
}

    .slide .line {
        margin: 0; /* primarily for normalization */
        padding: 0; /* primarily for normalization */
    }

.slide.active {
    display: block;
}

.line {
    position: relative;
}

    .line .character, .line .dialogue {
        float: left;
    }

    .line .character {
        font-weight: bold;
        font-variant: small-caps;
        text-transform: lowercase;
        opacity: 0.75;
        text-align: right;
        width: 180px;

        padding-right: 20px;
    }

    .line .dialogue {
        max-width: 650px;
        width: 650px;

        text-align: center;
    }

.slide .line + .line {
    margin-top: 15px;
}

/* CSS specific to types of slides / lines that are universal */
.character[data-character="action"], .character[data-character="sound"], .character[data-character="music"] {
    visibility: hidden;
}

.character[data-character="action"]+.dialogue, .character[data-character="sound"]+.dialogue {
    font-style: oblique;
}

.character[data-character="sound"]+.dialogue::before {
    content: '(';
}


.character[data-character="sound"]+.dialogue::after {
    content: ')';
}

.character[data-character="music"]+.dialogue::before {
    content: " ♪ ";
    /*content: ' \1f50a'; /* speaker with 3 waves */
    /*content: '  \266a  '; /* musical eighth note */
}


.character[data-character="music"]+.dialogue::after {
    content: " ♪ ";
    /*content: ' \1f50a'; /* speaker with 3 waves */
    /*content: '  \266a  '; /* musical eighth note */
}

.character[data-character="title"] {
    visibility: hidden;
}

.character[data-character="title"]+.dialogue {
    font-size: 200%;
}
