body {
    font: 14px Tahoma, Verdana, Segoe, sans-serif;
    color: yellow;
    background-color: black;
}

.slide {
    background-color: rgba(255,255,255,0.25); /* background color of all slides */
    width: 800px; /* maximum width of all slides */
    margin: 0 auto; /* center div horizontally */
}

.slide .line {
    margin: 0; /* primarily for normalization */
    padding: 0; /* primarily for normalization */
}

a {
    color: #00B7FF;
}
