.character[data-character="action"], .character[data-character="sound"] {
    visibility: hidden;
}

.character[data-character="action"]+.dialogue, .character[data-character="sound"]+.dialogue {
    font-style: oblique;
}

.character[data-character="sound"]+.dialogue {
    text-align: center;
}

.character[data-character="sound"]+.dialogue::before {
    /*content: " ♪ ";*/
    /*content: ' \1f50a'; /* speaker with 3 waves */
    /*content: '  \266a  '; /* musical eighth note */
    content: '(';
}


.character[data-character="sound"]+.dialogue::after {
    /*content: " ♪ ";*/
    /*content: ' \1f50a'; /* speaker with 3 waves */
    /*content: '  \266a  '; /* musical eighth note */
    content: ')';
}

.character[data-character="title"] {
    visibility: hidden;
}

.character[data-character="title"]+.dialogue {
    font-size: 200%;
}

.slide {
    margin: 0;
}

body {
  font-size: 200%;
  transform: rotate(-1deg);
}

    .line .dialogue {
        max-width: 650px;
        width: 650px;

        text-align: center;
    }

.slide.active+.slide {
    display: block;
    position: absolute;
    bottom: 0;
    opacity: 0.25;
}
